#services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;

  .architecture {
    width: 100%;
    position: relative;
    margin-bottom: 100px;

    .bg {
      width: 85.23%;
      max-height:315px;
      display: block;
    }

    .photograph {
      position: absolute;
      top: 0;
      left: 0;

      //   li {
      //     display: flex;
      //     justify-content: space-around;
      //     background-color: white;
      //     box-shadow: 0px 0px 40px 0px #000000;
      //     border-radius: 11px;
      //     position: absolute;

      //     span {
      //       background-color: #97c7bb;
      //       border-radius: 50%;
      //       display: inline-block;
      //       text-align: center;
      //       width: 20px;
      //     }
      //   }

      //   li.one, li.two, li.three {
      //       top:0;left:0;
      //   }

      img {
        position: relative;
        top: 0%;
        left: 18%;
        width: clamp(100px, 60%, 320px);
        z-index: 2;
        transform: translateY(-20%);
      }
    }

    h2 {
      margin: 20px 0 0 10%;
    }

    p {
      max-width: 18em;
      margin: 10px 0 0 10%;
    }
  }

  .furnish {
    width: 100%;
    background-color: #1c373d;

    * {
      color: white;
    }

    .photograph {

      img {
        width: clamp(100px, 63.5%, 360px);
        margin-left: 36.5%;
        margin-bottom: 20px;
        display: block;
      }
    }

    h2 {
      margin: 30px auto 10px 7.5%;
    }

    p {
      margin: 0 auto 30px 7.5%;
      width: 63%;
      min-width: 280px;
    }
  }
}
